<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kennethfechter.datepicker">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:ignore="ManifestResource"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n_mr1">
        <meta-data
            android:name="DATABASE"
            android:value="Calculendar.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.kennethfechter" />

        <activity
            android:name=".CalculendarMain"
            android:label="@string/title_activity_calculendar_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".Views.CalculendarAbout" />
        <activity
            android:name=".Views.CalculendarSettings"
            android:label="@string/title_activity_calculendar_settings"
            android:parentActivityName=".CalculendarMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kennethfechter.datepicker.CalculendarMain" />
        </activity>
    </application>
</manifest>